*{
    margin: 0;
    padding: 0;
}
:root{
    --cor-colunas: #8921ff;
    --cor-fonte-suave: #aaaaaa;
    --cor-fonte: #ffffff;
    --bg-body: #181818;
    --bg-grafico: #212121;
    --bg-input: #3d3d3d;
}
body{ 
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: var(--cor-fonte);
    background: var(--bg-body);
    background-repeat: none;
    background-attachment: fixed;
}
header{
    text-align: center;
    padding: 10px;
}
header p{
    color: var(--cor-fonte-suave);
}
.formulario{
    width: 400px;
    margin: auto ;
    padding: 20px;
    background-color: var(--bg-grafico);
    border-radius: 8px;
    margin-top: 50px;
}
.formulario .bt{
    text-align: center;
}
.formulario #btEnviar{
    background-color: var(--cor-colunas);
    border: none;
    padding: 10px;
    color: #fff;
    width: 40%;
    border-radius: 6px ;
}
.formulario #btEnviar:hover{
    background-color: #9e49ff;
}
.form{
    display: flex;
    width: 100%;
    margin: auto;
}
.form .qtd input{
    margin-bottom: 10px;
    background-color: var(--bg-input);
    border: none;
    outline: none;
    text-align: center;
    width: 60px;
    height: 30px;
    color:  var(--cor-fonte);
}
.form .qtd input:focus{
    background-color: var(--bg-input);
}

.form .mes, .form .qtd {
    width: 50%;
    text-align: center;
}
.form .mes p, .form .qtd p{
    width: 100%;
    font-weight: 600;
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.form .mes div{
    margin-bottom: 6px;
}
.formulario.esconder{
    display: none;
}
.grafico.mostrar{
    display: block;
}
.grafico{
    width:60% ;
    border-radius: 8px;
    display: none;
    margin: auto;
    padding: 10px;
    background-color: var(--bg-grafico);
    margin-top: 50px;
}
.all-gafico-content{
    width: 100%;
    display: grid;
    grid-template-areas: 
    'header header'
    'aside content'
    'aside footer';
    grid-template-columns: 80px 1fr;
    grid-template-rows: 100px 1fr 60px;
}
.grafico-aside{
    grid-area: aside;
    background: var(--bg-grafico);
} 
.grafico-content{
    grid-area: content;
    background: var(--bg-grafico);
    min-height: 220px;
    display: flex;
    align-items: flex-end;
} 
.grafico-footer {
    grid-area: footer;
    background: var(--bg-grafico);
    display: flex;
    align-items: center;
  
}
.grafico-header{
    grid-area: header;
    background: var(--bg-grafico);
    width: 100%;
    display: flex;
    align-items: center;
}

.title{
    width: 80%;
    margin: auto;
    text-align: center;
}
.title p{
    color: var(--cor-fonte-suave);
}
.numeros {
    width: 100%;
    text-align: center;
    height: 24vh;
}
.numeros p{
    margin: 15px 0 15px;
    width: 100%;
    text-align: center;
    
}
.cidades{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.cidades span{
    width: 120px;
    text-align: center;
}
.colunas-grafico{
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-around;
}
.barra{
    display: flex;
}
/*colunas*/
.j-barCol, .f-barCol, .m-barCol, .a-barCol, .mai-barCol, .jun-barCol{
    width: 30px;
    height: 3px;
    color: transparent;
    background: var(--cor-colunas);
}
.j-barCol.colTamDez, .f-barCol.colTamDez, .m-barCol.colTamDez, .a-barCol.colTamDez, .mai-barCol.colTamDez, .jun-barCol.colTamDez{
    height: 6px;
}
.j-barCol.colTamVin, .f-barCol.colTamVin, .m-barCol.colTamVin, .a-barCol.colTamVin, .mai-barCol.colTamVin, .jun-barCol.colTamVin{
    height: 12px;
}
.j-barCol.colTamCin, .f-barCol.colTamCin, .m-barCol.colTamCin, .a-barCol.colTamCin, .mai-barCol.colTamCin, .jun-barCol.colTamCin{
    height: 22px;
}
.j-barCol.colTamCem, .f-barCol.colTamCem, .m-barCol.colTamCem, .a-barCol.colTamCem, .mai-barCol.colTamCem, .jun-barCol.colTamCem{
    height: 60px;
}
.j-barCol.colTamDuz, .f-barCol.colTamDuz, .m-barCol.colTamDuz, .a-barCol.colTamDuz, .mai-barCol.colTamDuz, .jun-barCol.colTamDuz{
    height: 90px;
}
.j-barCol.colTamTre, .f-barCol.colTamTre, .m-barCol.colTamTre, .a-barCol.colTamTre, .mai-barCol.colTamTre, .jun-barCol.colTamTre{
    height: 130px;
}
.j-barCol.colTamQua, .f-barCol.colTamQua, .m-barCol.colTamQua, .a-barCol.colTamQua, .mai-barCol.colTamQua, .jun-barCol.colTamQua{
    height: 160px;
}
.j-barCol.colTamQui, .f-barCol.colTamQui, .m-barCol.colTamQui, .a-barCol.colTamQui, .mai-barCol.colTamQui, .jun-barCol.colTamQui{
    height: 200px;
}


