body{ 
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.formulario{
    width: 400px;
    margin: auto ;
    border: 1px solid #cacaca;
}
.formulario.esconder{
    display: none;
}
.grafico{
    display: none;
}
.grafico.mostrar{
    display: block;
}
.grafico{
    padding: 20px;
    border-radius: 6px;
    border: solid 1px #cecece;
}
.all-gafico-content{
    display: grid;
    grid-template-areas: 
    'header header'
    'aside content'
    'footer footer';
    grid-template-columns: 80px 1fr;
    grid-template-rows: 100px 1fr 60px;
}
.grafico-aside{
    grid-area: aside;
} 
.grafico-content{
    grid-area: content;
} 
.grafico-footer {
    grid-area: footer;
}
.grafico-header{
    grid-area: header;
}
.title{
    width: 80%;
    margin: auto;
    text-align: center;
}
.cidades{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}